* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
}

.product-card {
  margin: 0 auto;
  margin-top: 120px;
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: white;
}

.left-img-col {
  height: 100%;
  width: 50%;
}

.left-img-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-info-col {
  width: 50%;
  height: 100%;
}

.right-info-col {
  padding: 20px;
}

.right-info-col h3 {
  color: black;
  font-size: 32px;
  margin-bottom: 15px;
}

.right-info-col h5 {
  margin-bottom: 18px;
}

.right-info-col p {
  color: black;
  font-size: 14px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.available-colors {
  width: auto;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.available-colors span {
  color: black;
  font-size: 15px;
}

.available-colors button {
  border: none;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.black-color-container {
  background-color: black;
}

.red-color-container {
  background-color: red;
}

.white-color-container {
  background-color: beige;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price h4 {
  color: black;
  font-size: 32px;
}

.buy-btn {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}
